<form method="post" action="/quizes/<%= quizId %>/comments">
	<label for="comment">Añadir Comentario:</label>
	<input type="text" id="comment" name="comment[texto]" value="" /><br />
	<input type="submit" value="Enviar" />
</form>