<p>
	<label class="rem" for="preg">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="<%= quiz.pregunta %>" />
</p>
<p>
	<label class="rem" for="resp">Respuesta:</label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="<%= quiz.respuesta %>" />
</p>
<p>
	<a href="/quizes"><button type="button">Cancelar</button></a>
	<input type="submit" value="Guardar" />
</p>