<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<label for="respuesta">Pregunta: <%= quiz.pregunta %></label>
	<input type="text" id="respuesta" name="respuesta" placeholder="Responda aquí" />
	<input type="submit" value="Envíar" />
</form>